{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">⚠️ Online TOTP authenticator experiment. This app is made for entertainment purposes only. It demonstrates TOTP is merely just another password, something you know. Instead of a true extra authentication factor. ⚠️</p>
  </div>
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="shared-key" placeholder="B4BVUUWUIPRCYJG3UM2K6FLKO3XS4T5NKLCYWA7P6IBK25ZYXV4A" />
          <label for="floatingInput">TOTP-Token</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" id="submit-button">Generate TOTP</button>
        <hr class="my-4">
        <small class="text-muted">By clicking Generate TOTP, you agree not to use this app for security purposes. <a href="/totp/B4BVUUWUIPRCYJG3UM2K6FLKO3XS4T5NKLCYWA7P6IBK25ZYXV4A">Demo?</a></small>
    </div>
  </div>
</div>
{% endblock %}

{% block script_append %}
<script>
  $('#submit-button').click(function (e) {
    var sharedkey = $('#shared-key').val();
    if(sharedkey) {
      location.href = '/totp/' + sharedkey;
    }else{
      console.log('empty key');
    }
  });
</script>
{% endblock %}