{% extends "base.html" %}
{% block head %}
<meta http-equiv="refresh" content="{{ validity }}">
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 p-md-5 border rounded-3 bg-light" data-bitwarden-watching="1" action="/totp">
        <div class="form-floating mb-3">
          <h2 class="display-5 fw-bold">Token</h1>
          <input  class="form-control form-control-lg" type="text" id="totp" value="{{ totp }}" />
          <svg id="clipboard-button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
          </svg>
          <p id="validity" class="lead mb-4">{{ validity }}</p>
        </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script_append %}
<script>
  // copy to clipboard function
  // function copy(text) {
  function copy() {
      var t = document.getElementById('totp')
      // t.innerHTML = text
      t.select()
      try {
        var successful = document.execCommand('copy')
        var msg = successful ? 'successfully' : 'unsuccessfully'
        console.log('text coppied ' + msg)
      } catch (err) {
        console.log('Unable to copy text')
      }
      t.innerHTML = ''
    }

  // fetch the validity from the HTML element
  var validity = $('#validity').html();
  
  // Update the count down every 1 second
  var x = setInterval(function() {
    validity--;
    // If the key is finished, write some text
    if (validity < 0) {
      clearInterval(x);
      $('#validity').html('EXPIRED');
    } else {
      $('#validity').html(validity);
    }
  }, 1000);

  $('#clipboard-button').click(function (e) {
    copy();
  });
  </script>
{% endblock %}